h1 {
  margin-right: 1550px; 
}
@media screen and (max-width: 800px) {
  .motto {
    text-align: center; 
    font-size: 50px; 
    margin-right: 1800px;
    margin-left: 50px; 
    margin-top: none; 
    margin-bottom: none; 
  }
}